%div{data: {ng_app: 'ProductsApp'}}
  %h1 Products
  %div{data: {ng_controller: 'ProductsCtrl', ng_init: 'index()'}}
    %input{type: 'text', placeholder: 'Name', data: {ng_model: 'newProduct.name'}}
    %br
    %input{type: 'text', placeholder: 'Description', data: {ng_model: 'newProduct.description'}}
    %br
    %input{type: 'text', placeholder: '1000', data: { ng_model: 'newProduct.price' }}
    %br
    %button{data: {ng_click: 'create(newProduct)'}}
      Create New Product
    %div
      {{ products.size }}
    %ul{data: {ng_repeat: 'product in products'}}
      %li
        %div{data: { ng_hide:'product.editing' }}
          %p Name: {{ product.name }}
          %p Description: {{ product.description }}
          %p Price: {{ product.price | currency }}
          %button{data: {ng_click: "product.editing = true"}}Edit
          %button{data: {ng_click: "product.deleteConfirm = true", ng_hide: "product.deleteConfirm"}}Delete
        %div{data: { ng_show: 'product.deleteConfirm' }}
          %button{data: {ng_click: "destroy(product)"}} Delete
          %button{data: {ng_click: "product.deleteConfirm = false"}} Cancel
        %div{data: { ng_show:'product.editing' }}
          %input{type: 'text', placeholder: 'Name', data: { ng_model: 'product.name' }}
          %br
          %input{type: 'text', placeholder: 'Description', data: { ng_model: 'product.description' }}
          %br
          %input{type: 'text', placeholder: '1000', data: { ng_model: 'product.price' }}
          %br
          %button{data: {ng_click: "update(product)"}}Save
          %button{data: {ng_click: "product.editing=false"}}Cancel


