%div{data: {:'ng-app' => 'ProductsApp'}}
  %h1 Products
  %div{data: {:'ng-controller' => 'ProductsCtrl', :'ng-init' => 'index()'}}
  %div{data: {:'ng-repeat' => 'product in products'}}
    %p
      {{product}}

